<font size="10">  TechnoHacks Edutech</font>

<font  size="5"> **Data Analyst Intern**</font>

<font size="4">**Task Name: Calculate
Summary Statistics**</font>

<font size="4" color="brown" >About Task:</font>


<font size="4">We Have to calculate summary  statistics like mean,median,mode,  standard deviation for a dataset  (Titanic dataset).</font>

<font size="4" color="blue" >Author:</font>  

<font size="4" >Krishnamoorthy M</font>  

<font size="3"  >Preprocessing</font>  

<font size="3">importing necessary packages</font>

In [23]:
import pandas as pd
import numpy as np

<font size="4">Loading Dataset</font>

data=pd.read_csv("titantic.csv")

In [6]:
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

<font size="4">getting numeric column name</font>

In [7]:
numeric_column=['PassengerId','Survived']

<font size="4"> Calculating Mean</font>

In [27]:
for col in numeric_column: 
    print(f' The Mean value of {col} columns is: {data[col].mean()}')

 The Mean value of PassengerId columns is: 1100.5
 The Mean value of Survived columns is: 0.36363636363636365

<font size="4"> Calculating Median</font>

In [28]:
for col in numeric_column:
    print(f'The Median value of {col} columns is: {data[col].median()}')

The Median value of PassengerId columns is: 1100.5
The Median value of Survived columns is: 0.0

<font size="4"> Calculating Mode</font>

In [12]:
for col in numeric_column: 
    print(f' The Mode value of {col} columns is: {data[col].mode()[0]}')

 The Mode value of PassengerId columns is: 892
 The Mode value of Survived columns is: 0

<font size="4"> Calculating Standard Deviation</font>

In [13]:
for col in numeric_column: 
    print(f' The Standar Deviation value of {col} columns is: {data[col].std()}')

 The Standar Deviation value of PassengerId columns is: 120.81045760473994
 The Standar Deviation value of Survived columns is: 0.48162214093223055

<font size="4"> Calculating Summary Statistics using describe() function</font>

In [14]:
data.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

<font size="4"> Thank You</font>