<font size="10">  TechnoHacks Edutech</font>

<font  size="5"> **Data Analyst Intern**</font>

<font size="4">**Task Name:Remove Duplication**</font>

<font size="4" color="brown" >About Task:</font>


<font size="4"> Removing Duplicates in a iris dataset</font>

<font size="4" color="blue" >Author:</font>  

<font size="4" >Krishnamoorthy M</font>  

<font size="3"  >Preprocessing</font>  

<font size="3">importing necessary packages</font>

In [1]:
import pandas as pd
import numpy as np

<font size="4"> **Loading Dataset**</font>

In [2]:
iris_data=pd.read_csv("Iris.csv")

In [4]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<font size="4"> **Removing Unwanted columns**</font>

In [6]:
iris_data.duplicated().sum()

0

In [7]:
#removing id attribute because its not important for classification
iris_data.drop("Id", axis=1,inplace=True)

In [8]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

<font size="4"> **Checking Duplicates**</font>

In [9]:
iris_data.duplicated().sum()

3

In [10]:
iris_data[iris_data.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
34             4.9           3.1            1.5           0.1     Iris-setosa
37             4.9           3.1            1.5           0.1     Iris-setosa
142            5.8           2.7            5.1           1.9  Iris-virginica

In [11]:
iris_data.shape

(150, 5)

<font size="4"> **Remove Duplicates**</font>

In [12]:
iris_data.drop_duplicates(inplace=True)

In [13]:
iris_data.shape

(147, 5)

In [14]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

<font size="4"> **Thank you**</font>